.rightItem {
  align-items: center;
  flex-direction: column !important;
  justify-content: center;
  background-color: #1c1b1c !important;
  color: #fff !important;
  padding: 0 4rem;
}
.github-btn {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .rightItem {
    position: absolute;
    inset: 0;
    background-color: transparent;
    width: 100%;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    padding: 1rem;
    margin-top: 2rem;
  }
}
